@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sketch";
  src: url("../../public/fonts/FrederickatheGreat-Regular.ttf");
}

body {
  background: url("../../public/images/bg.png");
  font-family: "sketch";
}

.swiper-slide {
  background-color: #ccc;
  opacity: 0.2;
  transition: opacity 0.7s linear !important;
  cursor: grab;
}

.swiper-slide-active {
  opacity: 1;
  cursor: grab;
  transform: scale(1);
}

.swiper-slide-dragging {
  cursor: grabbing;
  transform: scaleX(1.08);
}

main a,
main strong {
  color: #49dcb1;
}

span a {
  color: #49dcb1;
  position: relative;
  color: #49dcb1;
  text-decoration: none;
}

span a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #49dcb1;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

span a:hover::after {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.glow {
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.glow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #49dcb1;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.glow:hover::before {
  transform: scale(1.1);
}

.glow:hover {
  color: #49dcb1;
  text-shadow: 0 0 5px #49dcb1;
}

.header a {
  color: #ffffff !important;
}

/* Width and Track Color */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle Color */
::-webkit-scrollbar-thumb {
  background: #dc4974;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #dc4974;
}

/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
/* Main styles */
